# Project information
site_name: 'MentorSoft Manual'
site_description: 'K & M SISTEMAS DE GESTÃO'
site_author: 'KM Sistemas'
#site_url: 'http://manual-mentorsoft.kmsistemas.com.br'
site_url: 'https://manual-mentorsoft.disqus.com'

# Repository
#repo_name: 'KmSistemas/mentorsoft-manual'
#repo_url: 'https://github.com/KmSistemas/mentorsoft-manual'

# Copyright
copyright: 'Copyright &copy; 2016 - 2020 K & M Sistemas'

# Configuration
theme:
  name: 'material'

  # https://squidfunk.github.io/mkdocs-material/customization/
  custom_dir: 'custom_theme'
  logo: 'img/logo.png'
  favicon: 'assets/images/favicon.ico'
  language: 'pt'
  palette:
    primary: 'green'
    accent: 'light green'
  font:
    text: 'Ubuntu'
    code: 'Ubuntu Mono'
  feature:
    tabs: true

# Customization
extra:
  social:
    - type: 'facebook'
      link: 'https://www.facebook.com/kmsistemas'
    #- type: 'google-plus'
     # link: 'https://plus.google.com/u/0/+KmSistemasBrApucarana'
  disqus: 'manual-mentorsoft'

#google_analytics:
#  - 'UA-XXXXXXXX-X'
#  - 'auto'

# Extensions
markdown_extensions:
  # https://squidfunk.github.io/mkdocs-material/extensions/admonition/
  - admonition

  # https://squidfunk.github.io/mkdocs-material/extensions/codehilite/
  - codehilite

  # https://squidfunk.github.io/mkdocs-material/extensions/footnotes/
  - footnotes

  # https://squidfunk.github.io/mkdocs-material/extensions/metadata/
  - meta

  # https://squidfunk.github.io/mkdocs-material/extensions/permalinks/
  - toc:
      #permalink: true
      permalink: '«'

  - markdown_include.include:
        base_path: docs

  # https://squidfunk.github.io/mkdocs-material/extensions/pymdown/
  #- pymdownx.arithmatex
  #- pymdownx.betterem:
  #    smart_enable: all
  #- pymdownx.caret
  #- pymdownx.critic
  #- pymdownx.details
  #- pymdownx.emoji:
  #    emoji_generator: !!python/name:pymdownx.emoji.to_svg
  #- pymdownx.inlinehilite
  #- pymdownx.magiclink
  #- pymdownx.mark
  #- pymdownx.smartsymbols
  #- pymdownx.superfences
  #- pymdownx.tasklist:
  #    custom_checkbox: true
  #- pymdownx.tilde

# Pages
pages:
  - Início: index.md
  - Comercial:
    - 'Inicio': 'modulos/comercial/index.md'
    - Cadastros:
      - 'Cliente': 'modulos/comercial/cadastro/cadastro-cliente.md'
      - 'Representante': 'comum/cadastro-representante.md'
      - 'Fornecedor': 'modulos/comercial/cadastro/cadastro-fornecedor.md'
      - 'Tipo de Pedido': 'modulos/comercial/cadastro/cadastro-tipo-pedido.md'
      - 'Condição Pagamento': 'modulos/comercial/cadastro/cadastro-condicao-pagamento.md'
      - 'Produtos': 'modulos/comercial/cadastro/cadastro-produto.md'
      - 'Tipo Despesa/Receita': 'modulos/comercial/cadastro/cadastro-tipo-despesa-receita.md'
      - 'Tipos de Cliente': 'modulos/comercial/cadastro/cadastro-tipo-cliente.md'
      - 'Embalagens': 'modulos/comercial/cadastro/cadastro-embalagens.md'
    - Movimentos:
      - 'Comunicação com Cliente': 'modulos/comercial/movimentos/comunicacao-com-clientes.md'
      - 'Pedidos': 'modulos/comercial/movimentos/inserir-pedidos.md'
  - Estoque:
    - 'Inicio': 'modulos/estoque/index.md'
    - Cadastros:
      - 'Produtos': 'modulos/estoque/cadastro/cadastro-produto.md'
      - 'Fornecedor': 'modulos/estoque/cadastro/cadastro-fornecedor.md'
      - 'Embalagens': 'modulos/estoque/cadastro/cadastro-embalagens.md'
      - 'Contas Despesas/Receitas': 'modulos/estoque/cadastro/contas-despesas.md'
      - 'Unidades Produtivas': 'modulos/estoque/cadastro/unidades-produtiva.md'
    - Movimentos:
      - 'Entrada por Nota Fiscal': 'modulos/estoque/movimentos/entrada-por-nota-fiscal.md'
      - 'Solicitação de Compra': 'modulos/estoque/movimentos/solicitacao-compra.md'
      - 'Pedido de Compra': 'modulos/estoque/movimentos/pedido-de-compra.md'
      - 'Romaneio de Faturamento': 'modulos/estoque/movimentos/romaneio-faturamento.md'
      - 'Código de Barras': 'modulos/estoque/movimentos/codigo-barras.md'
      - 'Inventário': 'modulos/estoque/movimentos/inventario.md'
      - 'Movimentação de Estoque': 'modulos/estoque/movimentos/movimentacao-estoque.md'
      - 'Transferência de Estoque': 'modulos/estoque/movimentos/transferencia-estoque.md'
    - Relatorios:
      - 'Posição de Estoque': 'modulos/estoque/relatorios/posicao-estoque.md'
  - Faturamento:
    - 'Inicio': 'modulos/faturamento/index.md'
    - Cadastros:
      - 'Cliente': 'modulos/faturamento/cadastro/cadastro-cliente.md'
      - 'Fornecedor': 'modulos/faturamento/cadastro/cadastro-fornecedor.md'
      - 'Cadastro CEST': 'modulos/faturamento/cadastro/cadastro-cest.md'
      - 'Tributação': 'modulos/faturamento/cadastro/cadastro-tributacao.md'
      - 'Tipo de Pedido': 'modulos/faturamento/cadastro/cadastro-tipo-pedido.md'
    - Movimentos:
      - 'Abertura de Faturamento': 'modulos/faturamento/movimentos/abertura-faturamento.md'
      - 'Entrada por Nota Fiscal': 'modulos/faturamento/movimentos/entrada-por-nota-fiscal.md'
      - 'Nota Fiscal Eletronica': 'modulos/faturamento/movimentos/nota-fiscal-eletronica.md'
      - 'Pedidos': 'modulos/faturamento/movimentos/inserir-pedidos.md'
  - Industrial:
    - 'Inicio': 'modulos/industrial/index.md'
    - Cadastros:
      - 'Grupo Industrial': 'modulos/industrial/cadastro/grupo-industrial.md'
      - 'Setor Industrial': 'modulos/industrial/cadastro/setor-industrial.md'
      - 'Setup': 'modulos/industrial/cadastro/setup.md'
      - 'Unidades Produtivas': 'modulos/industrial/cadastro/unidades-produtiva.md'
      - 'Tipo de Ocorrência de Produção': 'modulos/industrial/cadastro/tipo-ocorrencia.md'
      - 'Tipo de Ordem de Serviço': 'modulos/industrial/cadastro/tipo-ordem.md'
    - Movimentos:
      - 'PCP': 'modulos/industrial/movimentos/pcp.md'
  - GRH:
    - 'Inicio': 'modulos/grh/index.md'
    - Cadastros:
      - 'Fornecedor': 'modulos/grh/cadastro/cadastro-fornecedor.md'
      - 'Tipo de Ausência': 'modulos/grh/cadastro/cadastro-ausencia.md'
      - 'Tipos de Proventos': 'modulos/grh/cadastro/cadastro-proventos.md'
      - 'Função/Cargos': 'modulos/grh/cadastro/cadastro-funcao.md'
    - Movimentos:
      - 'Ficha de Funcionarios': 'modulos/grh/movimentos/ficha-funcionario.md'

  - Pagar:
    - 'Inicio': 'modulos/pagar/index.md'
    - Cadastros:
      - 'Fornecedor': 'modulos/pagar/cadastro/cadastro-fornecedor.md'
      - 'Condição Pagamento': 'modulos/pagar/cadastro/cadastro-condicao-pagamento.md'
    - Movimentos:
      - 'Operação de Pagamento': 'modulos/pagar/movimentos/operacao-pagamento.md'
      - 'Manutenção Parcelas a Pagar': 'modulos/pagar/movimentos/manutencao-parcelas-pagar.md'
      - 'Adiantamento de Fornecedores': 'modulos/pagar/movimentos/adiantamento-fornecedor.md'
  - Receber:
    - 'Inicio': 'modulos/receber/index.md'
    - Cadastros:
      - 'Cliente': 'modulos/receber/cadastro/cadastro-cliente.md'
      - 'Condição Pagamento': 'modulos/receber/cadastro/cadastro-condicao-pagamento.md'
    - Movimentos:
      - 'Operação de Recebimento': 'modulos/receber/movimentos/operacao-recebimento.md'
  - Tesouraria:
    - 'Inicio': 'modulos/tesouraria/index.md'
    - Cadastros:
        - 'Bancos': 'modulos/tesouraria/cadastro/bancos.md'
        - 'Agência': 'modulos/tesouraria/cadastro/agencia.md'
        - 'Contas Financeiras': 'modulos/tesouraria/cadastro/contas.md'
        - 'Contas Despesas/Receitas': 'modulos/tesouraria/cadastro/contas-despesas.md'
        - 'Tipo de Fornecimento': 'modulos/tesouraria/cadastro/tipo-fornecimento.md'
    - Movimentos:
      - 'Movimento Financeiro': 'modulos/tesouraria/movimentos/movimento-financeiro.md'
      - 'Transferência entre Contas Financeiras': 'modulos/tesouraria/movimentos/transferencia-entre-contas-financeiras.md'
  - Transporte: 
    - 'CTE': 'modulos/cte/index.md'
    - Cadastros:
        - 'Cadastro de Tipos de Veículo': 'modulos/cte/cadastro/tipos-de-veiculos.md'
        - 'Cadastro de Marcas de Veículo': 'modulos/cte/cadastro/marcas-de-veiculos.md'
        - 'Cadastro de Modelos de Veículo': 'modulos/cte/cadastro/modelos-de-veiculos.md'
    - Movimentos:
        - 'Controle de CT e': 'modulos/cte/movimentos/controle-cte.md'
  - Suporte:
    - 'Instalacao': 'instalacao.md'
    - 'Força de Vendas': 'comum/forca-vendas.md'
